<div class="row justify-content-center ">
    <div class="col-md-4 shadow">
        <h4> Register </h4>
        <hr />
        <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                    formControlName="firstName" type="text" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors?.required">First Name is required</div>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                    formControlName="lastName" type="text" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors?.required">Last Name is required</div>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label">Date Of Birth</label>
                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }"
                    formControlName="dateOfBirth" type="date" />
                <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                    <div *ngIf="f.dateOfBirth.errors?.required">Date Of Birth is required</div>
                    <div *ngIf="f.dateOfBirth.errors?.invalidAge">You must be atleast 15 years!</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    formControlName="email" type="email" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors?.required">Email is required</div>
                    <div *ngIf="f.email.errors?.email">Email must be a valid email address</div>
                    <div *ngIf="f.email.errors?.uniqueEmail">Email is taken!</div>
                </div>


            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    formControlName="password" type="password" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors?.required">Password is required</div>
                    <div *ngIf="f.password.errors?.invalidPassword">Password must be atleast 6-100 characters with
                        atleast
                        one number</div>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    formControlName="confirmPassword" type="password" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors?.required">Confirm Password is required</div>

                </div>
                <div class="invalid-feedback" *ngIf="registerForm.errors?.passwordNotMatch">Passwords must match</div>

            </div>
            <div class="form-group">
                <button type="submit" value="Register" class="btn btn-primary">
                    Create Account <i class="fas fa-user-plus"></i>
                </button>
            </div>
        </form>
    </div>
</div>